@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	--background-hard: #f9f5d7;
	--background: #fbf1c7;
	--background-soft: #f2e5bc;
	--background-1: #ebdbb2;
	--background-2: #d5c4a1;
	--background-3: #bdae93;
	--background-4: #a89984;

	--foreground: #282828;
	--foreground-1: #3c3836;
	--foreground-2: #504945;
	--foreground-3: #665c54;
	--foreground-4: #7c6f64;

	--red: #9d0006;
	--green: #79740e;
	--yellow: #b57614;
	--blue: #076678;
	--purple: #8f3f71;
	--aqua: #427b58;
	--orange: #af3a03;
	--gray: #928374;

	--red-dim: #cc2412;
	--green-dim: #98971a;
	--yellow-dim: #d79921;
	--blue-dim: #458598;
	--purple-dim: #b16286;
	--aqua-dim: #689d6a;
	--orange-dim: #d65d0e;
	--gray-dim: #7c6f64;
}

#root.is-dark {
	--background-hard: #1d2021;
	--background: #282828;
	--background-soft: #32302f;
	--background-1: #3c3836;
	--background-2: #504945;
	--background-3: #665c54;
	--background-4: #7c6f64;

	--foreground: #fbf1c7;
	--foreground-1: #ebdbb2;
	--foreground-2: #d5c4a1;
	--foreground-3: #bdae93;
	--foreground-4: #a89984;

	--red: #fb4934;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #8ec07c;
	--gray: #928374;
	--orange: #fe8019;

	--red-dim: #cc2412;
	--green-dim: #98971a;
	--yellow-dim: #d79921;
	--blue-dim: #458588;
	--purple-dim: #b16286;
	--aqua-dim: #689d6a;
	--gray-dim: #a89984;
	--orange-dim: #d65d0e;
}

@media (prefers-color-scheme: dark) {
	#root:not(.is-light) {
		--background-hard: #1d2021;
		--background: #282828;
		--background-soft: #32302f;
		--background-1: #3c3836;
		--background-2: #504945;
		--background-3: #665c54;
		--background-4: #7c6f64;

		--foreground: #fbf1c7;
		--foreground-1: #ebdbb2;
		--foreground-2: #d5c4a1;
		--foreground-3: #bdae93;
		--foreground-4: #a89984;

		--red: #fb4934;
		--green: #b8bb26;
		--yellow: #fabd2f;
		--blue: #83a598;
		--purple: #d3869b;
		--aqua: #8ec07c;
		--gray: #928374;
		--orange: #fe8019;

		--red-dim: #cc2412;
		--green-dim: #98971a;
		--yellow-dim: #d79921;
		--blue-dim: #458588;
		--purple-dim: #b16286;
		--aqua-dim: #689d6a;
		--gray-dim: #a89984;
		--orange-dim: #d65d0e;
	}
}
